body {
    text-align: center;
    background-color: #E0E1DD;
    background-image: url("https://t4.ftcdn.net/jpg/02/47/88/91/360_F_247889137_guKUbsdiv3s0Bfe3URiiYSksqlCQC63i.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    /*overflow-y: hidden;*/
    font-family: Monserrat, sans-serif;
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 ::-webkit-scrollbar {
    display: none;
}
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

#textboxTitleDiv {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: large;
    padding-top: 100px;
    
}
#textbox {
    resize: none;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    border-radius: 20px;
    text-align: center;
    border: none;
    box-shadow: 0px 5px 5px rgb(158, 154, 154);
    margin: auto;
    z-index: 10;
    margin-bottom: 20px;
}
#fact {
    font-style: italic;
}
@keyframes fadein {
    100% {background-color: rgb(255, 255, 255)}
}
#square {
    margin: auto;
    background-color: #415A77;
    width: 200px;
    height: 100px;
    animation-name: rotatebox;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
#tree {
    position: absolute;
    top: 200px;
    left: 100px;
    z-index: -1;
}

#resultbox {
    margin: auto;
    font-family: Montserrat, sans-serif;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.7);
    padding-top: 5px;
    box-shadow: 0px 5px 5px rgb(158, 154, 154);
    backdrop-filter: blur(10px);
    display: none;
    animation-name: fadein;
    animation-duration: 2s;
    /*animation-iteration-count: infinite;*/
}