body {
    text-align: center;
    background-color: #E0E1DD;
}

::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }

#textboxTitleDiv {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-size: large;
    padding-top: 100px;
    
}
#textbox {
    resize: none;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    border-radius: 20px;
    text-align: center;
    border: none;
    box-shadow: 0px 5px 5px rgb(158, 154, 154);
    margin: auto;
}
#fact {
    font-style: italic;
}
@keyframes rotatebox {
    100% {transform: rotate(360deg)}
}
#square {
    margin: auto;
    background-color: #415A77;
    width: 100px;
    height: 100px;
    animation-name: rotatebox;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}